:root {
    --primary : rgb(50, 50, 172);
    --secondary: #1E3D71;
    --text-color : rgb(146, 146, 146);
    --footer-bg: #EDF2FE;
    --bg-icon : #E9EFFF;
}

section {
    margin-bottom: 100px;
}

/* Header */
.sub-header {
    --webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 100%;
    min-height: 70px;
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: fixed;
    z-index: auto;
}
.sub-header .header-title {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;
}
nav {
    margin-right: 50px;
}
.sub-header nav .header-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 15px;
    font-weight: 650;
    font-family: 'Poppins', sans-serif;
}
.sub-header .header-links {
    align-items: center;
}
.sub-header nav .header-links a {
    text-decoration: none;
    color: var(--text-color);
}
.sub-header nav .header-links button {
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: var(--primary);
    color: aliceblue;
}

/*Main and Sections*/

.one-sec {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-family: 'Poppins', sans-serif;
}
.one-sec .one-sec-c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20% auto 0% auto;
}
.one-title h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: var(--secondary);
}
.one-title p {
    font-size: 16px;
    color: var(--text-color);
}


.benefits {
    margin: 10px 0 10px 0;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    color: var(--secondary)
}
.benefits div i {
    color: #FFD012;
    padding: 5px;
    background-color: #FFFCF0;
    border-radius: 5px;
}

.form-container{
    margin-top: 50px;
}







.form {
    left: auto;
    position: absolute;
    width: 700px;
    padding: 10px 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
}
.form div .form-opt {
    color: var(--secondary);
    font-size: 18px;
    font-weight: 650;
    margin: 0px 0px 15px 15px;
}
.form div .title-text {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
}

.title-div{
    display: inline-flex;
    align-items: center;
}

.title-div p {
    margin-left: 10px;
}
.title-div i {
    font-size: 15px;
    color: var(--primary);
    background-color: var(--bg-icon);
    padding: 8px;
    border-radius: 5px;
}
.form div button {
    padding: 10px 20px;
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
}





.one-sec .one-sec-c2 img{
    width: 100%;
}
/*+++++++++++++++++++*/

.vaccines-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.div-logo img {
    width: 180px;
}

/*+++++++++++++++++++*/

.advice-charts {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.advice-box {
    padding: 30px 30px;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid rgb(41, 39, 39);
}
.advice-box i {
    font-size: 25px;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 10px;
    color: var(--primary);
}
.advice-box h3 {
    color: var(--secondary);
    margin: 30px 0px;
}
/*---------------------*/
.prep-sec {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.prep-sec .prep-c1 img{
    width: 100%;
}
.prep-c2 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: var(--secondary);
}
.prep-c2 p {
    color: var(--text-color);
    font-weight: 600;
}

.prep-c2 .prep-c2-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.prep-box {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 60%;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px 25px;
    border: 1px solid black;
}

.prep-box i {
    padding: 10px;
    background-color: var(--bg-icon);
    color: var(--primary);
    border-radius: 5px;
}
.prep-box p {
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary);
}



/*---------------------*/

.emercency-sec {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.emercency-sec .emergency-c2 img {
    width: 100%;
}

.emergency-c1-pf {
    margin: 0px auto 70px 50px;
}
.emergency-c1-pf h2 {
    font-size: 30px;
    color: var(--secondary);
    font-family: 'Montserrat', sans-serif;
}
.emergency-c1-pf p {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 15px;
}

.boxes-contact {
    margin-top: 140px;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: repeat(2,0.35fr);
    grid-template-rows: repeat(2,0.35fr);
    gap: 20px;
    align-content: center;
    justify-content: center;
}
.box-emergency {
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
    align-items: center;
}
.ebox-header {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.ebox-header i {
    font-size: 25px;
    background-color: var(--bg-icon);
    padding: 10px;
    border-radius: 5px;
    color: var(--primary);
}
.ebox-header p {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}
.ebox-header .ebox-header-title {
    margin-bottom: 10px;
    color: var(--secondary);
    font-size: 20px;

}
.box-emergency button{
    margin-top: 30px;
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    height: 50px;
    width: 100%;
    font-weight: 500;
}




/*      Footer        */

footer {
    width: 100%;
    background-color: var(--footer-bg);
    font-family: 'Poppins', sans-serif;
}

.sub-one {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.sub-one p {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
}
.one-text {
    margin-left: 70px;
}
.one-text .text-frase p{
    margin: 0px;
}
.one-text .text-frase {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.sub-one .one-links {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-right: 70px;
}
.one-col h3 {
    color: var(--secondary);
}
.sub-two {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 650;
    color: var(--text-color);
}
.sub-two .two-text {
    margin-left: 70px;
}
.sub-two .two-policy {
    margin-right: 70px;
    display: inline-flex;
    gap: 10px;
}
.sub-one h2 {
    color: var(--primary);
}




/*++++++++++++++++++++*/
.imgx {
    width: 250px;
}
